<h1>Car expo</h1>

<p> Hi, <%= @user.first_name %></p>
<p> Wellcome to Car expo app. To activate your account click on link bellow:</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
